*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(50, 50, 50); */

}
.container{
    box-shadow: 0 0 50px 2px black;
    width: 1600px;
    height: 6807px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}
.box1{
    background: url(./Untitled.png);
    background-size: 100px;
    /* filter: blur(2px); */
    width: 100%;
    height: 900px;
    /* background-color: white; */
    /* opacity: 0.05; */
    /* box-shadow: 0px 0 0px 100px red; */
    backdrop-filter: blur(50px);
    position: absolute;
    z-index: 50;
}
.fon{
    width: 100%;
    height: 100%;
    z-index: 8 !important;
    /* background-color: red; */
    backdrop-filter: blur(20px);
    position: absolute;

}
.fon::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: 8 !important;
    background-color: #ffffff;
    opacity: 0.3;
    backdrop-filter: blur(50px);
    position: absolute;

}
.fon1{
    top: -200px;
    right: -200px;
    width: 800px;
    filter: blur(30px);
    position: absolute;
    animation: animateone 30s linear infinite;
    border-radius: 50px;
    height: 800px;
    background: linear-gradient(45deg,red , rgb(255, 0, 149) , rgb(55, 0, 128));
}
@keyframes animateone{
    0%{
        transform: rotateZ(360deg);
    }
    50%{
        transform: rotateZ(0deg);
        border-radius: 50%;
    }
    100%{
        transform: rotateZ(-360deg);
        border-radius: 50px;
    }
}
.fon2{
    top: 800px;
    left: -200px;
    width: 900px;
    filter: blur(30px);
    position: absolute;
    animation: animatetwo 30s linear infinite;
    border-radius: 50px;
    height: 700px;
    background: linear-gradient(45deg,rgb(255, 0, 170) , rgb(0, 60, 255) , rgb(55, 0, 128));
}
@keyframes animatetwo{
    0%{
        transform: rotateZ(-360deg);
    }
    50%{
        transform: rotateZ(0deg);
        border-radius: 50%;
    }
    100%{
        transform: rotateZ(360deg);
        border-radius: 50px;
    }
}
.menu1{
    z-index: 100000;
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}
.menu1::before{
    content: '';
    z-index: 100000;
    /* overflow: hidden; */
    background-color: #939497b2;
    /* opacity: 0.7; */
    position: fixed;
    top: 0;
    width: 1600px;
    height: 80px;
}
.logo{
    position: absolute;
width: 72px;
height: 50px;
left: 120px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
/* identical to box height, or 167% */
z-index: 200000;

color: #FFF;

}
.menu2{
    position: absolute;
width: 114px;
height: 24px;
left: 344px;
top: 27px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
z-index: 10000000;
color: #FFFFFF;
}
.menu3{
    position: absolute;
width: 114px;
height: 24px;
left: 474px;
top: 27px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
z-index: 10000000;
color: #FFFFFF;
}
.menu4{
    position: absolute;
width: 114px;
height: 24px;
left: 584px;
top: 27px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
z-index: 10000000;
color: #FFFFFF;
}
.menu5{
    position: absolute;
width: 114px;
height: 24px;
left: 685px;
top: 27px;

font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
z-index: 10000000;
color: #FFFFFF;
}
.lite_dark{
    width: 93px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    position: absolute;
    left: 978px;
    top: 20px;
    border-radius: 40px;
    z-index: 100000000;

}
.dark{
    position: absolute;
    width: 36px;
    height: 36px;
    right: 1px;
    top: 1px;
    /* background: #5454D4; */
    border-radius: 40px;
}
.click{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1px;
    top: 1px;
    background: #5454D4;
    border-radius: 40px;
    animation: click 0.5s linear;
}
@keyframes click{
    0%{
        left: 25px;
    }
    100%{
        left: 1px;
    }
}
.dark>img{
    /* background-color: red; */
    z-index: 200000000;
    position: absolute;
    width: 34px;
    top: 1px;
    left: 1px;
    /* margin-top: -400px; */
}
.lite>img{
    /* background-color: red; */
    z-index: 200000000;
    position: absolute;
    width: 34px;
    top: 2px;
    left: 2px;
    /* margin-top: -400px; */
}
